<a href="/">Home</a>
<a href="/users">Users</a>
<a href="/users/new">SignUp</a>
<a href="/sign_in">Existing Users Sign In</a>
<a href="/squaks">See All Teh Squaks</a>

<script>
$(document).ready(function() {

  $("#owl-example").owlCarousel();

  var owl = $("#owl-example");
  $(".play").click(function(){
  owl.trigger('owl.play',2000); //owl.play event accept autoPlay speed as second parameter
  });

  owl.owlCarousel({
      items : 2, //10 items above 1000px browser width
      itemsDesktop : [1000,2], //5 items between 1000px and 901px
      itemsDesktopSmall : [900,2], // betweem 900px and 601px
      itemsTablet: [600,2], //2 items between 600 and 0
      itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option
  });

});
</script>



<h3>TWITTER</h3>

<ul id="owl-example" class="owl-carousel">
  <% @squaks.each do |squak| %>
    <li>
      <%= squak.message %>
    </li>
  <% end %>
</ul>
<button class="play">clicky<button>
