<!-- # <%= render partial: 'navigation'%> -->

<h3><%= @user.username %></h3>

<li class="big"># of squaks:
<%= @user.squaks.count %>
</li>

<ul>
  <% if @user.squaks.count > 0 %>
    <% @user.squaks.each do |squak| %>
    <li class>

      <%= squak.message %>
    </li>
    <% end %>
  <% else %>
    <li class>
        NO SQUAKS YET :(

    </li>
  <% end %>

<ul>
