// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  margin: 25px;
  color: black;
}
body {
  background-image: url("https://pbs.twimg.com/profile_images/571076061169868800/2dDdk-Uh.png");
  background-repeat: no-repeat;
  background-size: 40%;
}
